/* Background Color */
.theme-bg-color {
  background-color: #030d04;
}

/* Panel Background Color */
.theme-panel-bg-color {
  background-color: #061707;
}

/* Input Field Background Color */
input[type=text] {
  background-color: #061707;
  color: #91c496;
}

/* Normal Text Color */
.theme-text-color {
  color: #91c496;
}

/* Button Box Colors */
.theme-button-box-color {
  background-color: #051207;
  border-color: #3d5e43;
}

/* Primary Accent Color (Buttons and Panels) */
.theme-accent-color {
  background-color: #103617;
  color:  #91c496;
  border-color: #3d5e43;  
}

/* Primary Accent Color Hover (Buttons and Panels) */
button.theme-accent-color:hover:enabled,
input[type=button].theme-accent-color:hover:enabled,
input[type=submit].theme-accent-color:hover:enabled,
a.theme-accent-color:hover {
  background-color: #294d30;
  color: #91c496;
  border-color: #3d5e43;  
}

/* Primary Accent Color (Disabled Buttons) */
.theme-accent-color:disabled {
  background-color: #4a524c;
  color: #6c757d;
  border-color: #3d5e43;  
}

/* Primary Accent Color Border */
.theme-accent-color-border {
  border-color: #3d5e43;
}

/* Secondary Accent Color (Buttons and Panels)*/
.theme-2nd-accent-color {
  background-color: #294d30;
  color:  #91c496;
  border-color: #1d2b21;  
}

/* Secondary Accent Color Hover (Buttons and Panels)*/
input[type=submit].theme-2nd-accent-color:hover:enabled {
  background-color: #bad4b0;
  color:  #1d2b21;
  border-color: #1d2b21;  
}

/* For making a blinking light, use an 5-step fade between colors */
@keyframes blinkingButton{
  /* Button Base Color, Step 1 */
  0%{
    background-color: #103617;
    color: #000000;
  }
  /* Blink Color, Step 2 */
  6%{
    background-color: #1e4d26;
    color: #404040;
  }
  /* Blink Color, Step 3 */
  12%{
    background-color: #2c6435;
    color: #808080;
  }
  /* Blink Color, Step 4 */
  18%{
    background-color: #3b7d46;
    color: #bfbfbf;
  }
  /* Final Blink Color, Step 5 */
  25%{
    background-color: #4a9757;
    color: #ffffff;
  }
  /* Final Blink Color, Step 5 */
  50%{
    background-color: #4a9757;
    color: #ffffff;
  }
  /* Blink Color, Step 4 */
  56%{
    background-color: #3b7d46;
    color: #bfbfbf;
  }
  /* Blink Color, Step 3 */
  62%{
    background-color: #2c6435;
    color: #808080;
  }
  /* Blink Color, Step 2 */
  68%{
    background-color: #1e4d26;
    color: #404040;
  }
  /* Button Base Color, Step 1 */
  75%{
    background-color: #103617;
    color: #000000;
  }
  /* Button Base Color, Step 1 */
  100%{
    background-color: #103617;
    color: #000000;
  }
}