html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 4.5rem;
  margin-bottom: 40px;
  display: -ms-flexbox;
  display: flex;
  /*-ms-flex-align: center;
  align-items: center;*/
  font-family: 'Montserrat', sans-serif;  
}

.page {
  margin-top: 40px;	
}

.container {
  max-width: 1360px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 24px;
}

li {
  margin: 5px 0px;
}

ul, ol {
  margin: 16px 0px 16px 0px;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 16px;
}

table {
  margin: 20px 0px 20px 0px;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: 150px auto 0;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: 20px;
  border-width: 1px;
  border-radius: 3px;
  padding: 4px 8px;
  margin: 0px 2px;
}

.lh-condensed { line-height: 1.25; }

.btn-primary,
.btn {
  font-size: larger;
  vertical-align: top;
}

.btn-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 20px;
}

.btnDialpad {
  margin: 3px auto;
}

.btnBlink {
  animation:blinkingButton 2s infinite;
}

.navbar-main {
  height: 65px;
  left: 0;
  right: 0;
  z-index: 2;
}

.navbar-panel {
  height: 65px;
  left: 0;
  right: 0;
  z-index: 2;
}

a.white {
 color: white!important;
}

.brandingRow {
  flex-wrap: nowrap;
}

.branding .menuBtn img {
  width: 100%;
  max-height: 40px;
  max-width: 40px;
}

.branding .logo {
  max-height: 36px;
  max-width: 270px;
}

.branding .logo img {
  max-width: 100%;
}

img, svg {
  vertical-align: middle;
}

.branding .logo a {
  line-height: 65px;
}

.msgLine {
  font-size: 12px;
  margin: 0px 10px 0px 10px;
  width: 95%;
}

.msgLineTime {
  font-size: 8px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 10px 5px 10px;
  color: #717476;
  width: 95%;
}

label {
  margin-top: .5em;
}

label.error {
  color: red;
  font-size: 10px;
}

.remaining {
  color: #362886;
}

.remaining-error {
  color: red;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 40px; /* Vertically center the text there */
}

form.navbar-form {
  width: 0px;
  height: 0px;
  margin: 8px;
  padding: 0px;
  display: inline;
}

input[type=submit].LogOut {
  font-weight: bold;
}

input[type=submit].LogOut:hover {
  text-decoration: underline;
}

.HighlightLine {
  background: #FDF1B5;
  #font-weight: bolder;
  margin: 1px;
  #display: block;
  #padding: 8px 8px 8px 28px;
  padding: 8px 8px 8px 8px;
  #margin-left: -28px;
  border-radius: 10px;
}

.HighlightTerm {
  font-weight: bolder;
  #text-decoration: underline;
}

.navbar-inner-red {
  background-color: #600000;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.full-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.normal-screen {
  position: relative;
}

.border-top-separator {
  border-top: thick solid;
}

.border-right-separator {
  border-right: thin solid;
}


/* Layout/Div Styles */

#divCallCtrl {
  vertical-align: middle;
  text-align:center;
}

#divStatusMsgs {
  width: 100%;
  margin: auto;
  display: block;
}

.div-dialer {
  width: 100%;
  margin: 5px 0px;
  clear: both;
  text-align: center;
}

#txtContactInfo {
  width: 100%;
  text-align: center;
}

.btn-toolbar {
  width: 100%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  vertical-align: middle;
}

#divBtnCallGroup {
  margin: 0 auto;
}

#divBtnCallGroup input[type=button] {
  margin-bottom: 5px;
}

#divCallWrapper {a
}

#divCallOptions {
  /*padding-top: 15px;*/
}

.call-options {
  display: none;
  margin: 5px 0px;
  width: 100%;
  padding: 5px;
  border: 1px solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
}

#divVideo {
}

.div-video {
  width: 50%;
  margin: auto;
  margin-top: 5px;
  -webkit-transition-property: height;
  -moz-transition-property: height;
  -o-transition-property: height;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
}

#divVideoRemoteWrapper,
#divVideoLocalWrapper,
#divVideoLocal,
.previewvideo {
  border:0px solid #009;
}

#video_remote,
#video_local {
  background-color: #000000;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 2s;
}

.divVideoRemote {
  position:relative;
  border:1px solid #009;
  height:100%;
  width:100%;
}

.video {
  z-index: 10;
}

.previewvideo {
  position: fixed;
  right: 5px;
  bottom: 5px;
  max-width: 20%;
  z-index: 20;
}

#divShortcuts,
#divHistory,
#divChat,
#divKeyPad {
  width:100%;
  text-align: center;
  margin:auto;
  margin-top: 5px;
  padding-top: 15px;
  clear: both;
}

#divShortcutsHeader,
#divHistoryHeader {
}

#historyListTable {
  margin: auto;
  padding: 10px 2px;
  border: 2px solid;
  border-radius: 8px;
  -moz-border-radius: 8px;
  border-collapse: separate;
}

#historyListTable td,
#historyListTable th {
  padding: 2px 10px;
  border: none;
}

#historyListTable th {
  font-weight: bold;
  text-decoration: underline;
}

.icon {
  width: 20px;
  height: 20px;
}

#divShortcutsButtons {
}

#divShortcutsButtons input[type=button] { 
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#divShortcutsEditor {
}

#divShortcutsEditor input[type=button] {
  margin-right: 5px;
}

.shortcutEditLine,
.shortcutOrderLine {
  height: 24px;
  text-align: right;
}

#divShortcutsEditor p {
 font-size: 12px;
}

#divShortcutsEditor label {
  float: left;
}

.shortcutEditLine p,
.shortcutOrderLine p,
#divShortcutsEditor label {
  font-size: 12px;
  height: 18px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#divShortcutsEditor input[type=text],
#divShortcutsEditor select {
  font-size: 12px;
  height: 24px;
  width: 50%;
  right: 0px;
}

.shortcutOrderInput input[type=text] {
  font-size: 12px;
  height: 24px;
  width: 100%;
  right: 0px;
}

.shortcutEditBlock,
.shortcutOrderBlock {
  margin-bottom: 15px;
}

.shortcutOrderLine p {
  text-align: left;
}

#chatList {
  text-align: center;
  margin-bottom: 5px;
  margin-right:  10px;
  padding-right: 10px;
  min-width: 150px;
}

#chatConversation {
  width:  calc(100% - 170px);
}

.chatListEntry {
  margin-bottom: 5px;
  /*float: left;*/
}

.btn-chatName {
  max-width: 75px;
  margin: 0px auto;
  white-space: normal;
}

.btn-chatClose {
  margin: 0px 5px;
  float: right;
}

#divChatMessages {
  width: 100%;
  max-height: 250px;
}

#chatConvSend {
  padding-top: 10px;
}

#chatInput {
  width: calc(100% - 65px);
  float: left;
}

#chatSendBtn {
  float:right;
}

.label-align {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

.input-align {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
   *overflow: hidden;
}

.glass-panel {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  opacity: 0.8;
  background-color: Gray;
}

/* Start of styles for collapseable side panel */
.offcanvas-active{
  overflow:hidden;
}
.screen-overlay {
  width:0%;
  height: 100%;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  opacity:0;
  visibility:hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition:opacity .2s linear, visibility .1s, width 1s ease-in;
}
.screen-overlay.show {
  transition:opacity .5s ease, width 0s;
  opacity:1;
  width:100%;
  visibility:visible;
}
.offcanvas{
  width:350px;
  visibility: hidden;
  transform:translateX(-100%);
  transition:all .2s;
  border-radius:0; 
  box-shadow: 0 5px 10px rgba(0,0,0, .2);
  display:block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1200;
  overflow-y: scroll;
  overflow-x: hidden;
}
.offcanvas.offcanvas-right {
  right: 0;
  left: auto;
  transform: translateX(100%); 
}
.offcanvas.show{
  visibility: visible;
  transform: translateX(0);
  transition: transform .2s;
}
.offcanvas .btn-close{ 
  position: absolute; 
  right:15px; 
  top:15px; 
}
/* End of styles for collapseable side panel */

/* Start of styles for hovering tooltips */
/* Tooltip container */
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1400;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* End of styles for hovering tooltips */
