<?php

// SIP Realm
//define("REALM","sample realm");

// SIP Disable Video
//define("DISABLEVIDEO","false");

// SIP Enable RTCWeb Breaker
//define("ENABLERTCWEBBREAKER","false");

// SIP Websocket URL
//define("WEBSOCKETURL","wss://sample websocket url:8089/ws");

// SIP Outbound Proxy URL
//define("SIPOUTBOUNDPROXYURL","udp://sipml5.org:5060");

// SIP ICE Servers
//define("ICESERVERS","udp://sipml5.org:5060");

// SIP Max Bandwidth (kbps)
//define("BANDWIDTH","{maxWidth: 640, maxHeight:480 }");

// SIP Video Size
//define("VIDEOSIZE","{minWidth: 640, minHeight:480, maxWidth: 640, maxHeight:480 }");

// SIP Disable 3GPP Early IMS
//define("DISABLEEARLYIMS","false");

// SIP Dsiable debug messages: 
//define("DISABLEDEBUG","true");

// SIP Cache the media stream
//define("ENABLEMEDIACACHING","false");

// SIP Disable call button options
//define("DISABLECALLBTNOPTIONS","false");

// Chat - Max Conversation Length
//define("CHATMAXCONVOLEN","50");

// Default Shortcuts
//  These are applied to everyone and are used to seed the list of
//  user-saved shortcuts. Order must be unique, and the eligible
//  actions are "Audio", "Video", "Screenshare", "Chat" or "DTMF".
//define("DEFAULTSHORTCUTS",array(
//        '0' => array(
//            'order' => '0',
//            'number' => '850',
//            'displayName' => 'Voicemail',
//            'noDelete' => '1',
//            'action' => 'Audio',
//        ),
//        '1' => array(
//            'order' => '1',
//            'number' => '1234',
//            'displayName' => 'Video Call John Doe',
//            'noDelete' => '0',
///           'action' => 'Video',
//        )
//    )
//);



// SimpleSAMLPhp Provider Name
//define("SAMLSPNAME","saml-sp-name");

// LDAP Credentials

// LDAP/AD URI
//define("LDAPURI","ldaps://sampleserver.sampledomain.tld:636");

// LDAP/AD Bind Username
//define("LDAPBINDUSER","sampleusername@sampledomain.tld");

// LDAP/AD Bind Password
//define("LDAPBINDPASS","samplepassword");

// LDAP Base DN
//define("LDAPBASEDN","dc=SAMPLEDOMAIN,dc=TLD");


// MySQL Credentials

// MySQL Host
//define("MYSQLHOST","localhost");

// MySQL User
//define("MYSQLUSER","svcSipml5Web");

// MySQL Password
//define("MYSQLPASS","samplemysqlpassword");

// MySQL Port
//define("MYSQLPORT","3306");

// MySQL DB Name
//define("MYSQLDBNAME","sipml5_web");

?>

